* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Mukta Mahee';
}

main {
  text-align: center;
}

.container-conteudo {
  max-width: 1140px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}

html {
	scroll-behavior: smooth;
}